.row
    -
        var items = content.restaraunts.pizzaTime.foodItems.pizza
        var i = 1
    each item in items
        -
            var imgSrc = 'static/img/restaraunts/food/pizza/' + i + '.jpg'
            var costs = item.cost
        .col-md-4
            .foodContainer
                .foodItem
                    img(src=imgSrc alt='Пицца').foodItem__img.img-responsive
                    .foodItem__title.mb-2 #{item.name}
                    .foodSize.mb-2
                        - var x = 1
                        each cost, size in costs
                            -
                                var itemId = "size-"+ size + '-' + i
                                var checkedBox = (x===1)
                            input(type="radio" name="size" + i checked=checkedBox id=itemId value=cost)
                            label(for=itemId).foodSize__item #{size} см
                            - x++
                    .foodDescription
                        .foodDescription__cost.mb-1
                        .foodDescription__text #{item.description}
            - i++
